* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #03152e;
  color: white;
}
h2 { 
  text-align: center;
}
.container {
  justify-content: center;
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      margin: 15vh;
}
.altura {
  text-align: center;
  
  justify-content: center;
}
.input {
  align-items: center;
  background-color: #383838;
  border: 1ex solid none;
  border-top-width: 1.7em;
  margin: 0;
  padding: 0;
  color: #383838;
  word-wrap: break-word;
  outline: 7px solid #383838;
  height: 30px;
  font-size: 17px;
  text-align: center;
  transition: all 1s;
  max-width: 190px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
 }
 
 .input:hover {
  border-top-width: 0.2em;
  background-color: #f1e8e8;
 }
 
 .input:focus {
  border-top-width: 0.2em;
  background-color: #f1e8e8;
 }

 button {
  margin: 3vh;
  justify-content: center;
  background: rgb(255, 0, 0);
  color: #FFF;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
 }
 
 button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
 }
 
 button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
 }

 .card {
   display: flex;
   flex-wrap: wrap;
   text-align: center;
  width: 325px;
  height: 354px;
  background-image: linear-gradient(163deg, rgb(223, 58, 58) 0%, rgb(0, 0, 0) 100%);
  border-radius: 20px;
  transition: all .3s;
 }
 
 .card2 {
  width: 325px;
  height: 354px;
  background-color: #1a1a1a;
  border-radius:;
  transition: all .2s;
 }
 
 .card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
 }
 
 .card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
 }

